@font-face {
	font-family: 'Untitled Sans';
	src: url('/assets/fonts/UntitledSans-Regular.woff2') format('woff2'),
		url('/assets/fonts/UntitledSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
