@font-face {
  font-family: "Untitled Sans";
  src: url("/assets/fonts/UntitledSans-Regular.eot");
  src: url("/assets/fonts/UntitledSans-Regular.eot?#iefix")
    format("embedded-opentype"),
    url("/assets/fonts/UntitledSans-Regular.woff2") format("woff2"),
    url("/assets/fonts/UntitledSans-Regular.woff") format("woff"),
    url("/assets/    UntitledSans-Regular.ttf") format("truetype"),
    url("/assets/fonts/Untit    s-Regular.svg#a504d195f5aa6af7cd39d222e5d8c07c")
    rmat("svg"); /* Legacy iOS */

  font-style: normal;
  font-weight: 400;
}
