html {
	font-size: 62.5%;

	/* Adjust font size */
	font-size: 62.5%;
	-webkit-text-size-adjust: 100%;

	/* Font varient */
	font-variant-ligatures: none;
	-webkit-font-variant-ligatures: none;

	/* Smoothing */
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
}

html {
	height: 100%;
	touch-action: manipulation;
}

body {
	height: 100%;
	background-color: $c-white;
	color: $c-dark-grey;
	@include ffRegular();
	font-size: $fs-base;
	line-height: $lh-base;

	.block-events {
		pointer-events: none !important;
	}
}

#content {
	min-height: 100%;
	height: auto;
}

img {
	display: block;
	width: 100%;
	height: auto;
}
