<section class="page-wrapper" id="homepage">

	<div class="introduction">
		<h1 class="f-title">Dynamic content: {{ data.content.title }}</h1>
		<h2 class="f-body">ABOUT PAGE Static content</h2>
	</div>

</section>