{
	"presets": [
		[
			"@babel/env",
			{
				"targets": {
					// https://jamie.build/last-2-versions
					// "browsers": [">0.25%", "not op_mini all", "not ie 11"]
					// https://web.dev/serve-modern-code-to-modern-browsers/
					// https://philipwalton.com/articles/deploying-es2015-code-in-production-today/
					"esmodules": true
				},
				// "debug": true,
				"useBuiltIns": "usage",
				"bugfixes": true,
				"corejs": 3
			}
		]
	],
	// needed to support both node common modules and escma js ones
	"sourceType": "unambiguous",
	"plugins": ["@babel/plugin-transform-runtime", "minify-dead-code-elimination"]
}
