{
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"browsers": ["last 2 versions", "ie >= 9"]
				},
				"useBuiltIns": "entry",
				"modules": false
			}
		]
	],
	"plugins": ["@babel/plugin-syntax-dynamic-import", "@babel/plugin-transform-runtime"]
}
