{
	"presets": [
		[
			"@babel/env",
			{
				"targets": {
					// https://jamie.build/last-2-versions
					"browsers": [">0.25%", "not op_mini all", "not ie 11"]
					// https://web.dev/serve-modern-code-to-modern-browsers/
					// "esmodules": true
				},
				"debug": true,
				"useBuiltIns": "usage",
				"bugfixes": true,
				"corejs": 3
			}
		]
	],
	"plugins": ["@babel/plugin-transform-runtime"]
}
