// colors
$c-white: #fff;
$c-black: #000;
$c-dark-grey: #2b2d30;

// Font color
.--c-white {
	color: $c-white;
}

.--c-black {
	color: $c-black;
}

.--c-dark-grey {
	color: $c-dark-grey;
}

// $colors: (
// 	white: #ffffff,
// 	black: #171717,
// 	error: #f4361e,
// );

// $textColors: (
// 	dark: #171717,
// 	medium: #888888,
// 	light: #cccccc,
// 	white: #ffffff,
// );
