#main-nav {
	position: absolute;
	z-index: 99;

	padding-top: $nav-padding - 1px;
	padding-left: $nav-padding;

	.menu {
		li {
			border-bottom: 1px solid transparent;
			&.active {
				border-bottom: 1px solid black;
			}
		}
	}
}
