@mixin scroll($scroll, $block) {
	overflow-#{$scroll}: auto;
	overflow-#{$block}: hidden;
	-webkit-overflow-scrolling: touch;
}

.u-scroll-v {
	@include scroll('y', 'x');
}

.u-scroll-h {
	@include scroll('x', 'y');
}

.u-scroll-past {
	height: 100vh !important;
	margin-bottom: 150px;
}
