@mixin aspect-ratio($width, $height) {

	position: relative;
  display:block;

	&:before{
		display: block;
		content: "";
		width: 100%;
		$percent : ($height / $width) * 100%;
    padding-top: round($percent * 1000) / 1000;
	}
	> img{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width : 100%;
		height : auto;
	}
	> video{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width : 100%;
		height : auto;
	}

}