/**
 * Add Generic SASS mixin here
 */

@mixin replaceText() {
	display: block;
	text-indent: -99999px;
}

@mixin tracking($val, $font-size) {
	letter-spacing: ($val * $font-size / 1000) * 1px;
}

@mixin photoshop-letterspacing-to-ems($val) {
	letter-spacing: ($val / 1000) * 1em;
}
