/*
 * $size: size in pixel you want to have at $breakpoint
 * $min-size: min size of the responsive font: doesn't go smaller
 * $max-size: max size of the responsive font: doesn't go bigger
 * $breakpoint: breakpoint to start using responsive fontSize
 */
@mixin responsiveFontSize($size, $breakpoint, $min-size: false, $max-size: false, $fallback: true) {
	// value for vw
	$responsive: calc($size * 100 / $breakpoint);

	//min value
	@if $min-size {
		$min-width: calc($size / ($breakpoint / $min-size));

		@media screen and (max-width: #{$min-size}px) {
			font-size: $min-width * 1px;
		}
	}

	@if $max-size {
		$max-width: calc($size / ($breakpoint / $max-size));

		@media screen and (min-width: #{$max-size}px) {
			font-size: $max-width * 1px;
		}
	}

	@if $fallback {
		font-size: $size * 1px;
	}

	font-size: $responsive * 1vw;
}
